.card {
  overflow: hidden;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid #777;
  padding: 10px;
}
.card .cardImgBox {
  border-radius: 20px;
  overflow: hidden;
  max-height: 250px;
}
.card .cardImgBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card .cardTextBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  white-space: wrap;
}
