h2{
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
  color: #444;
}
.main .Cards {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 20px;
  flex-wrap: wrap;
}

.posts, .users, .products{
  
  display: flex;
  flex-direction:  row;
  gap: 10px;
  flex-wrap: wrap;
}