@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
}
ul li {
  list-style: none;
  @apply bg-amber-500;
}
a {
  color: #444;
  text-decoration: none;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

